[class$="-subtitle"],
.hero h1 span
    color: var(--color-accent) !important

@mixin accent-pills
    row-gap: $spacing-2
    > li
        a
            background-color: var(--color-accent)
            border-radius: 14px
            color: var(--color-background)
            padding: space() space(3)
            text-transform: uppercase
            font-weight: bold

.project,
.post
    [class$="-categories"]
        @include accent-pills

@mixin ecosystem-active-item
    font-weight: bold
    position: relative
    a
        color: var(--color-accent)
    &::before
        content: ''
        height: 12px
        width: 5px
        background-color: var(--color-accent)
        position: absolute
        margin-left: var(--grid-gutter-negative)