footer#document-footer
    padding-bottom: var(--grid-gutter)
    padding-top: var(--grid-gutter)
    .container
        .footer-social
            order: -1
            display: flex
            gap: space()
            flex-wrap: wrap
        .footer-legals
            text-align: right
            p
                margin-top: var(--grid-gutter)