footer#document-footer
    padding-bottom: var(--grid-gutter)
    padding-top: var(--grid-gutter)
    .container
        .footer-social
            display: flex
            flex-wrap: wrap
            gap: $spacing-1
            order: -1
            li
                &::after
                    margin-left: 0
                + li
                    margin-top: 0
        .footer-legals
            text-align: right
            p
                margin-top: var(--grid-gutter)