
// TYPOGRAPHY  
$font-sans: "N27", sans-serif !default
$font-serif: "LibreBaskerville", serif !default
$heading-font-family: $font-serif !default
$body-font-family: $font-serif !default

$h1-font-family: $font-sans !default
$h1-text-transform: uppercase !default
$h1-line-height: 100% !default

$h2-font-family: $font-sans !default

$h3-font-family: $font-sans !default
$h3-weight: bold !default
$h3-line-height: 100% !default
$h3-text-transform: uppercase !default

$h5-text-transform: none !default

$lead-sidebar-size-desktop: pxToRem(28) !default
$lead-line-height: 120% !default

$body-size-desktop: pxToRem(20) !default
$body-size: pxToRem(16) !default
$body-line-height: 180% !default

$meta-font-family: $font-sans !default

$quote-size-desktop-short: pxToRem(36) !default
$quote-size-desktop-long: pxToRem(36) !default
$quote-size-desktop: pxToRem(36) !default

// GRID
$grid-gutter: pxToRem(12) !default
$grid-gutter-lg: pxToRem(12) !default
$grid-gutter-xxl: pxToRem(12) !default

// HEADER
$header-background: none !default
$header-border-bottom-width: 0 !default
$header-logo-height: pxToRem(40) !default
$header-logo-height-desktop: pxToRem(70) !default
$header-nav-padding-y-desktop: var(--grid-gutter)

// HERO
$hero-background-color: none !default

// FOOTER
$footer-color: white
$footer-logo-height-desktop: pxToRem(70) !default