.projects
    &--list
        @include list-without-border
        @include in-page-without-sidebar
            .project
                .project-content
                    .project-title,
                    .project-subtitle
                        @include h3
        .project:hover
            .project-title a
                color: var(--color-text)

    &--large
        .project
            @include in-page-without-sidebar
                align-items: center
                .project-title,
                .project-subtitle
                    font-family: $font-sans
                    font-weight: bold
                    line-height: 100%
                .project-content
                    margin-left: offset(1)
                .media
                    width: columns(6)

.projects__page
    .hero
        padding-bottom: 0
        .single-meta.hero-meta
            margin-top: 0
            .taxonomies
                .taxonomy-children
                    @include accent-pills
        .hero-actions
            @include sr-only

    @include media-breakpoint-up(desktop)
        .hero
            padding-bottom: var(--grid-gutter)
            .content
                align-items: flex-start
            figure
                width: columns(8)
            .hero-text
                gap: var(--grid-gutter)
                width: columns(4)
                .single-meta.hero-meta
                    margin-top: $spacing-3
                    padding-bottom: 0